.bannerContainer{
    margin-top: 40px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    height: 70px;
    width: 100%;
}

.itemContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}