.cards_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardsItems{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
    width: 90vw;
    margin-left: 62px;
    margin-top: 30px;
}

.cardsHeader{
    font-family: 'Red Rose';
    font-style: normal;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
}

.more-links{
    margin-top: 70px;
    margin-bottom: 40px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* .tags{
    
} */

.tags a{
    text-decoration: none;
    font-family: 'Red Rose';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
     color: #434343;
}

.tags a:hover{
color: #434343;
}

.tags-btn{
    text-align: center;
    padding: 10px 7px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 48px;
    width: 160px;
    background-color: #FFFFFF;
    border: 1px solid #B4B4B4;
    border-radius: 8px;
}
.tags-btn p a{
font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
   color: #333333;
}

.tags-btn a i{
    text-decoration: none;
    color: #333333;
}

.placeToStay{
    margin-bottom: 50px;
}


