.card{
    height: 370px;
    width: 290px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
}

.cardImage{
    width: 260px;
        height: 265px;
        left: 16px;
        top: 16px;
        border: 1px solid #D7D7D7;
        border-radius: 15px;
}

.cardImage img{
    width: 100%;
}

.title, .distance_aval{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.name, .distance, .aval{
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #434343;
}

.price{
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    color: #434343;
}

.star{
    margin-top: 10px;
}

.star i{
    color: #A02279;
}
