.modalItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    height: 68px;
    background: #F8F9FA;
    border: 1px solid #CFD8DC;
    border-radius: 12px;
    margin-top: 10px;
}

#span {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-left: 20px;
}
